/* 
============================
    THE SECTION OF THE HISTORY
============================
*/
.div-history{
    text-align:center;
    padding:50px 0 100px 0;
    background:#B66200;
    display:none;
}
  
  .history-heading h3{
    font-family:monospace;
    font-size:20px;
    padding:20px 0 0 0;
    color:white;
    font-weight:bold;
  }
  
  .history-heading h1{
    font-family:arial;
    padding:10px 0;
    color:red;
    font-weight:bold;
    font-size:45px;
    text-shadow:1px 1px white;
  }
  
  .histories {
    margin-bottom: 2rem;
    margin-top:2rem;
    text-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    cursor:pointer;
    border-bottom:5px solid #B66200;
    position:relative;
    background:#000000b6;
    overflow:hidden;
    height:300px!important;
    padding:50px 1.5rem;
    border-radius:150px;
    outline:none!important;
    /* display:none; */
  }

  .history-icon{
    color:white;
    font-size:30px;
  }
  
  .histories h2{
    color:white;
    text-shadow:1px 1px #B66200;
    font-size:18px;
    font-family:arial;
  }
  
  .histories .underline {
    width: 4rem;
    height: 0.12rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    background:red;
  }
  
  .histories p {
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: white;
    font-family:Tahoma;
    font-size:14px;
  }
  
  
  .history-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1570px;
  }

  .history-over {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    overflow: auto;
    height: 100%;
    font-family: monospace;
    padding: 3rem 1.5rem;
    outline:none;
  }
  
  .history-over h2{
    color:#b66100c9;
  }


  .history-over p{
    color:green;
  }

  .history-over .history-icon{
      color:#b66100c9;
  }
  
  
  .histories:hover .history-over {
    transform: translateY(-0%);
  }
  
 
  @media screen and (min-width: 426px) and (max-width:584px) {
    .history-center {
      display: grid;
      grid-template-columns: 1fr ;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:10px;
    }

     
    .histories {
      position:relative;
      background:#000000b6;
      overflow:hidden;
      height:300px!important;
      padding:50px 1.5rem;
      border-radius:250px;
    }
  }


  @media screen and (min-width: 585px) and (max-width:899px) {
    .history-center {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:10px;
    }
  }
  
  @media screen and (min-width: 900px) and (max-width:1194px) {
    .history-center {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items:center;
      padding:30px;
      column-gap: 2rem;  
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
    }
  
  
  }


  @media screen and (min-width: 1195px) {
    .history-center {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items:center;
      padding:30px;
      column-gap: 2rem;  
      margin-top:50px;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
    }
  
  }


  @media screen and (max-width:320px){
    .history-heading h1{
      font-size:30px;
    }
    .history-heading h3{
      font-size: 18px;
    }
  }
  
  @media screen and (max-width:375px) and (min-width:321px){
    .history-heading h1{
      font-size:30px;
    }
    .history-heading h3{
      font-size: 18px;
    }
  }


  @media screen and (max-width:425px) and (min-width:376px){
    .history-heading h1{
      font-size:30px;
    }
    .history-heading h3{
      font-size: 18px;
    }
  }
  
  