
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


/* ========================
    THE SECTION OF THE GLOBAL STYLES
    ========================
 */

::after,
::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    line-height:1.5;
    margin-top:5rem;
}

ul{
    list-style: none;
}

a{
    text-decoration:none;
}

:root{
    --transition: all 0.3s linear;
    --spacing: 0.2rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;

    --clr-primary: #fff;
    --clr-secondary: red;

}

.btn{
    text-transform: uppercase;
    background:var(--clr-secondary);
    color:var(--clr-primary);
    padding:10px 12px;
    letter-spacing:var(--spacing);
    display:inline-block;
    transition:var(--transition);
    font-size:0.7rem;
    cursor:pointer;
    border-radius:var(--radius);
}

.btn:hover{
    color:#00ff00;
    background:var(--clr-primary)
}

.underline{
    width:5rem;
    height:0.25rem;
    margin-bottom:1.25rem;
    background:red;
    margin-left:auto;
    margin-right:auto;
}

.social-links{
    margin-top:2rem;
    width:10rem;
    display:flex;
    justify-content: space-between;
}

.social-link{
    font-size:1.5rem;
    color:violet;
    transition:var(--transition);
}

.social-link:hover{
    color:#00f0;
}
