/* THE SECTION OF THE HERO COMPONENT */

@media screen and (max-width:320px){
    .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    }

    .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    }
    .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:9px;
    margin-top:4px;
    }
    .nav-header img {
    margin-bottom: 0;
    width:30px;
    height:30px;
    margin-right:3px;
    }
    .toggle-btn {
    font-size: 1.4rem;
    background: transparent;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    outline:none;
    }
    .toggle-btn:hover {
    color: var(--clr-primary-2);
    }


    /* ============================ */
    .sidebar-links li a {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: var(--spacing);
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    transition: var(--transition);
    border-radius: var(--radius);
    font-family:monospace;
    }

    .sidebar-links li a:hover {
    background: transparent;
    color: var(--clr-primary-5);
    }

    .close-btn {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 1.6rem;
    background: transparent;
    border-color: transparent;
    color: white;
    cursor: pointer;
    outline:none;
    }

    /* =========================
    THE SECTION OF THE HERO
    ===========================
    */

    .hero{
        height:31rem;
        text-align:center;
        background:#B66200;
    }
      
    .hero-image{
        height:24rem;
    }
    

    .carousel-div{
        z-index:999999;
        position:absolute;
        top:15%;
        left:0;
        right:0;
        margin:0 auto;
        width:90%;
        text-align:left;
        padding:0 15px 20px 10px;
      }

    .carousel-div h3{
        font-size:15px;
        color:red;
        font-weight:bold;
        font-family:Tahoma;
        margin-top:20px;
        text-shadow:1px 1px white;
    }

    .carousel-div h1{
        font-size:25px;
        color:white;
        font-weight:bold;
        font-family:arial;
        margin-top:20px;
        margin-bottom:20px;
    }

    .carousel-div p{
        color:white;
        font-size:10px;
        font-weight:bold;
        font-family:monospace;
        letter-spacing:2px;
        width:90%;
    }

    .carousel-div .btn-explore{
        padding:12px 18px;
        background:orangered;
        color:white;
        border:none;
        outline:none;
        margin-top:15px;
        font-weight:bold;
        border-radius:5px;
        cursor:pointer;
        transition:var(--transition);
        font-size:9px;
    }


    /* ===========================
    THE SECTION OF THE ONE    
    ==============================
    */
    .services-center{
        background:#b661009f;
        padding:10px;
    }

    
    .heading{
        background:#b661009f;
        width:90%;
        margin:0 auto;
        margin-bottom:20px;
    }

    .heading h3{
    font-family:monospace;
    font-size:15px;
    padding:20px 0 0 0;
    color:white;
    font-weight:bold;
    text-shadow:1px 0px red;
    }
    
    .heading h1{
    font-family:arial;
    padding:10px 0;
    color:white;
    font-weight:bold;
    text-shadow:2px 2px red;
    font-size:22px;
    }

    .service img{
        margin-bottom:10px;
      }


    /* 
    ================================
    THE SECTION OF THE TWO
    ===============================
    */

    .two{
        height:110vh;
        background-position:center;
        background-size:cover;
        background-attachment: fixed;
        }
        
        .two-cover{
        background:rgba(255, 255, 255, 0.568);
        height:110vh;
        padding:120px 0 0 0;
        }
        
        .two-center{
        background:#b66100c9;
        width:90%;
        margin:auto;
        text-align:center;
        padding:80px 20px;
        border-radius:10px;
        }
        
        .two-center h1{
        color:white;
        font-size:20px;
        font-family:arial;
        font-weight:bolder;
        text-shadow:2px 2px red;
        margin-bottom:10px;
        }
        
        .two-center h3{
        color:white;
        text-align:center;
        font-size:14px;
        font-family:arial;
        font-weight:normal;
        }
        
        .two-button{
        background:green;
        padding:13px 18px;
        color:white;
        font-size:10px;
        border:none;
        border-radius:10px;
        outline:none;
        margin-top:15px;
        font-weight:bold;
        cursor:pointer;
        transition:var(--transition);
        }
        
        .two-button:hover{
        background:#B66200;
        
        }


               /* 
    ============================
    THE SECTION OF THE THREE
    ===============================
    */
    .three{
        height:130vh;
        position: relative;
        background-position:center;
        background-size:cover;
        background-attachment: fixed;
        }
    
        .three-cover{
        background:#b661008f;
        height:130vh;
        }
    
        .table{
        display: grid;
        grid-template-columns: 1fr ;
        background:#c26801;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        padding:20px;
        position:absolute;
        top:-80px;
        left:0;
        right:0;
        }
    
        .table-one{
        background:white;
        padding:10px 20px;
        display:flex;
        align-items:center;
        }
    
        .table-one img{
        height:60px;
        width:60px;
        border:2px solid green;
        border-radius:150px;
        padding:8px;
        margin-right:10px;
        }
    
        .table-words h2{
        font-family:monospace;
        font-size:20px;
        color:red;
        }
    
        .table-words p{
        font-size:15px;
        }
    
    
        /* THE SECTION OF THE THREE CENTER */
        .three-center{
        width: 90vw;
        margin: 0 auto;
        max-width: 1200px;
        position:absolute;
        top:45%;
        right:0;
        left:0;
        text-align:center;
        }
    
        .three-center img{
        width:80px;
        height:80px;
        border:2px solid white;
        border-radius: 150px;
        padding:5px;
        }
    
        .three-center p{
        color:red;
        font-family:cursive;
        margin-bottom:50px;
        font-weight:bold;
        text-shadow:1px 1px white;
        font-size:20px;
        }
    
        .three-text h1{
        color:white;
        font-size:20px;
        font-family:arial;
        text-shadow:2px 2px red;
        }
    
        .btn-two{
        background:green;
        color:white;
        padding:13px 20px;
        border:none;
        outline:none;
        cursor:pointer;
        font-weight:bold;
        font-size:13px;
        }

        .btn-two:hover{
            background:red;
        }


        /* 
    =====================================
    THE SECTION OF THE FOUR
    =====================================
    */  

    .image-container{
        background:#B66200;
        height:30rem;
        width:60%;
        padding:30px;
        }
        
        .image-container img{
        width:220%;
        height:100%;
        object-fit:cover;
        border:1px solid #B66200;
        }
    
        .jobs{
        position:relative;
        padding-bottom:50px;
        padding:20px 0;
        }
    
        .jobs h3{
        font-family:monospace;
        font-size:18px;
        margin-top:30px;
        text-align:center;
        }
    
        .jobs h2{
        font-family:monospace;
        font-size:28px;
        font-weight:normal;
        text-align:center;
        }
    
        .jobs h1{
        font-family:arial;
        font-size:35px;
        color:red;
        text-align:center;
        }
    
        .jobs-center {
        width: 90vw;
        background:#B66200;
        margin:0 auto;
        }
        
      
        .job-btn {
            font-size: 0.6rem;
          }
        
          
        .job-info {
        padding:0 10px 20px 10px;
        }

        .job-desc p{
            font-size:13px;
        }

        .loading{
            text-align:center;
            padding:100px 50px;
        }
        
        .loading h1{
            color:green;
            font-family:cursive;
            font-size:25px;
        }
        
        .loading p{
            font-size:15px;
        }



             
    /* 
    ===================================
    THE SECTION OF THE FIVE
    ===================================
    */
    .five{
        padding:20px;
        text-align:center;
    }
    
    .five-header{
        text-align:center;
        padding:80px 30px 50px 30px;
    }
    
    .five-header h3{
        font-family:monospace;
        font-size:20px;
        font-weight:bold;
        /* color:red; */
    }
    
    .five-header h1{
        font-family:arial;
        font-size:30px;
        font-weight:bold;
        color:red;
    }
    
    .five button{
        padding:12px 25px;
        background:red;
        color:white;
        border:none;
        outline:none;
        margin-top:10px;
        cursor: pointer;
    }
 
}



@media screen and (max-width:375px) and (min-width:321px){
    .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    }

    .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    }
    .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:10px;
    margin-top:4px;
    }
    .nav-header img {
    margin-top:0;
    width:30px;
    height:30px;
    margin-right:3px;
    margin-bottom:0;
    }
    .toggle-btn {
    font-size: 1.4rem;
    background: transparent;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    outline:none;
    }
    .toggle-btn:hover {
    color: var(--clr-primary-2);
    }


    /* ============================ */
    .sidebar-links li a {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: var(--spacing);
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    transition: var(--transition);
    border-radius: var(--radius);
    font-family:monospace;
    }

    .sidebar-links li a:hover {
    background: transparent;
    color: var(--clr-primary-5);
    }

    .close-btn {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 1.6rem;
    background: transparent;
    border-color: transparent;
    color: violet;
    cursor: pointer;
    outline:none;
    }

    /* =========================
    THE SECTION OF THE HERO
    ===========================
    */
    .hero{
        height:37rem;
        text-align:center;
        background:#B66200;
    }
      
    .hero-image{
        height:30rem;
    }

    .carousel-div{
        z-index:999999;
        position:absolute;
        top:20%;
        left:0;
        right:0;
        margin:0 auto;
        width:90%;
        text-align:left;
        padding:0 15px 20px 10px;
      }

    .carousel-div h3{
        font-size:17px;
        color:red;
        font-weight:bold;
        font-family:monospace;
        margin-top:20px;
        text-shadow: 1px 1px white;
    }

    .carousel-div h1{
        font-size:30px;
        color:white;
        font-weight:bold;
        font-family:arial;
        margin-top:20px;
        margin-bottom:20px;
    }

    .carousel-div p{
        color:white;
        font-size:11px;
        font-weight:bold;
        font-family:Tahoma;
        letter-spacing:2px;
        width:90%;
    }

    .carousel-div .btn-explore{
        padding:12px 18px;
        background:orangered;
        color:white;
        border:none;
        outline:none;
        margin-top:15px;
        font-weight:bold;
        border-radius:5px;
        cursor:pointer;
        transition:var(--transition);
        font-size:10px;
    }


    /* ===========================
    THE SECTION OF THE ONE    
    ==============================
    */
    .services-center{
        background:#b661009f;
        padding:10px;
    }

    .heading{
        background:#b661009f;
        width:90%;
        margin:0 auto;
        margin-bottom:20px;
    }

    .heading h3{
    font-family:monospace;
    font-size:18px;
    padding:20px 0 0 0;
    color:white;
    font-weight:bold;
    text-shadow:1px 0px #fff;
    }
    
    .heading h1{
    font-family:arial;
    padding:10px 0;
    color:white;
    font-weight:bold;
    text-shadow:2px 2px red;
    font-size:25px;
    }


    /* 
    ===============================
    THE SECTION OF THE TWO
    ===============================
    */
    .two{
        height:110vh;
        background-position:center;
        background-size:cover;
        background-attachment: fixed;
        }
        
        .two-cover{
        background:rgba(255, 255, 255, 0.568);
        height:110vh;
        padding:140px 0 0 0;
        }
        
        .two-center{
        background:#b66100c9;
        width:90%;
        margin:auto;
        text-align:center;
        padding:80px 20px;
        border-radius:10px;
        }
        
        .two-center h1{
        color:white;
        font-size:25px;
        font-family:arial;
        font-weight:bolder;
        text-shadow:2px 2px red;
        margin-bottom:10px;
        }
        
        .two-center h3{
        color:white;
        text-align:center;
        font-size:15px;
        font-family:arial;
        font-weight:normal;
        }
        
        .two-button{
        background:green;
        padding:13px 18px;
        color:white;
        font-size:10px;
        border:none;
        border-radius:10px;
        outline:none;
        margin-top:15px;
        font-weight:bold;
        cursor:pointer;
        transition:var(--transition);
        }
        
        .two-button:hover{
        background:#B66200;
        
        }

          /* 
    ============================
    THE SECTION OF THE THREE
    ===============================
    */
    .three{
        height:130vh;
        position: relative;
        background-position:center;
        background-size:cover;
        background-attachment: fixed;
        }
    
        .three-cover{
        background:#b661008f;
        height:130vh;
        }
    
        .table{
        display: grid;
        grid-template-columns: 1fr ;
        background:#c26801;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        padding:20px;
        position:absolute;
        top:-80px;
        left:0;
        right:0;
        }
    
        .table-one{
        background:white;
        padding:10px 20px;
        display:flex;
        align-items:center;
        }
    
        .table-one img{
        height:60px;
        width:60px;
        border:2px solid green;
        border-radius:150px;
        padding:8px;
        margin-right:10px;
        }
    
        .table-words h2{
        font-family:monospace;
        font-size:20px;
        color:red;
        }
    
        .table-words p{
        font-size:15px;
        }
    
    
        /* THE SECTION OF THE THREE CENTER */
        .three-center{
        width: 90vw;
        margin: 0 auto;
        max-width: 1200px;
        position:absolute;
        top:45%;
        right:0;
        left:0;
        text-align:center;
        }
    
        .three-center img{
        width:80px;
        height:80px;
        border:2px solid white;
        border-radius: 150px;
        padding:5px;
        }
    
        .three-center p{
        color:red;
        font-family:cursive;
        margin-bottom:50px;
        font-weight:bold;
        text-shadow:1px 1px white;
        font-size:20px;
        }
    
        .three-text h1{
        color:white;
        font-size:20px;
        font-family:arial;
        text-shadow:2px 2px red;
        }
    
        .btn-two{
        background:green;
        color:white;
        padding:13px 20px;
        border:none;
        outline:none;
        cursor:pointer;
        font-weight:bold;
        font-size:13px;
        }

        .btn-two:hover{
            background:red;
        }

    /* 
    =====================================
    THE SECTION OF THE FOUR
    =====================================
    */  

    .image-container{
        background:#B66200;
        height:30rem;
        width:60%;
        padding:30px;
        }
        
        .image-container img{
        width:210%;
        height:100%;
        object-fit:cover;
        border:1px solid #B66200;
        }
    
        .jobs{
        position:relative;
        padding-bottom:50px;
        padding:20px 0;
        }
    
        .jobs h3{
        font-family:monospace;
        font-size:18px;
        margin-top:30px;
        text-align:center;
        }
    
        .jobs h2{
        font-family:monospace;
        font-size:28px;
        font-weight:normal;
        text-align:center;
        }
    
        .jobs h1{
        font-family:arial;
        font-size:35px;
        color:red;
        text-align:center;
        }
    
        .jobs-center {
        width: 90vw;
        background:#B66200;
        margin:0 auto;
        }
        
      
      .job-btn {
        font-size: 0.6rem;
      }
    
      
      .job-info {
        padding:0 10px 20px 10px;
      }

      .job-desc p{
        font-size:13px;
    }

    .loading{
        text-align:center;
        padding:100px 50px;
    }
    
    .loading h1{
        color:green;
        font-family:cursive;
        font-size:25px;
    }
    
    .loading p{
        font-size:15px;
    }


      
           
    /* 
    ===================================
    THE SECTION OF THE FIVE
    ===================================
    */
    .five{
    padding:20px;
    text-align:center;
    }
    
    .five-header{
        text-align:center;
        padding:0 30px 50px 30px;
    }
    
    .five-header h3{
        font-family:monospace;
        font-size:20px;
        font-weight:bold;
        /* color:red; */
    }
    
    .five-header h1{
        font-family:arial;
        font-size:35px;
        font-weight:bold;
        color:red;
    }
    
    .five button{
        padding:12px 25px;
        background:red;
        color:white;
        border:none;
        outline:none;
        margin-top:10px;
        cursor: pointer;
    }
 
    
    
}






@media screen and (max-width:425px) and (min-width:376px){
    .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    }

    .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    }
    .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:11px;
    margin-top:4px;
    }
    .nav-header img {
    margin-bottom: 0;
    width:35px;
    height:35px;
    margin-right:3px;
    }
    .toggle-btn {
    font-size: 1.4rem;
    background: transparent;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    outline:none;
    }
    .toggle-btn:hover {
    color: var(--clr-primary-2);
    }


    /* ============================ */
    .sidebar-links li a {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: var(--spacing);
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    transition: var(--transition);
    border-radius: var(--radius);
    font-family:monospace;
    }

    .sidebar-links li a:hover {
    background: transparent;
    color: var(--clr-primary-5);
    }

    .close-btn {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 1.6rem;
    background: transparent;
    border-color: transparent;
    color: violet;
    cursor: pointer;
    outline:none;
    }


    /* =========================
    THE SECTION OF THE HERO
    ===========================
    */

    .hero{
        height:32rem;
        text-align:center;
        background:#B66200;
    }
      
    .hero-image{
        height:26rem;
    }

    .carousel-div h3{
        font-size:17px;
        color:white;
        font-weight:bold;
        font-family:monospace;
        margin-top:20px;
    }

    .carousel-div h1{
        font-size:30px;
        color:white;
        font-weight:bold;
        font-family:arial;
        margin-top:30px;
        margin-bottom:20px;
    }

    .carousel-div p{
        color:white;
        font-size:11px;
        font-weight:bold;
        font-family:Tahoma;
        letter-spacing:2px;
        width:90%;
    }

    .carousel-div .btn-explore{
        padding:12px 18px;
        background:orangered;
        color:white;
        border:none;
        outline:none;
        margin-top:15px;
        font-weight:bold;
        border-radius:5px;
        cursor:pointer;
        transition:var(--transition);
        font-size:10px;
    }


    /* ===========================
        THE SECTION OF THE ONE    
      ==============================
    */
    .services-center{
        background:#b661009f;
        padding:10px;
    }

    .heading{
        background:#b661009f;
        width:90%;
        margin:0 auto;
        margin-bottom:20px;
    }

    .heading h3{
    font-family:monospace;
    font-size:18px;
    padding:20px 0 0 0;
    color:white;
    font-weight:bold;
    text-shadow:1px 0px green;
    }
    
    .heading h1{
    font-family:arial;
    padding:10px 0;
    color:white;
    font-weight:bold;
    text-shadow:2px 2px red;
    font-size:25px;
    }


    
    /* 
    ===============================
    THE SECTION OF THE TWO
    ===============================
    */
    .two{
    height:100vh;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    }
    
    .two-cover{
    background:rgba(255, 255, 255, 0.568);
    height:100vh;
    padding:100px 0 0 0;
    }
    
    .two-center{
    background:#b66100c9;
    width:90%;
    margin:auto;
    text-align:center;
    padding:80px 20px;
    border-radius:10px;
    }
    
    .two-center h1{
    color:white;
    font-size:25px;
    font-family:arial;
    font-weight:bolder;
    text-shadow:2px 2px red;
    margin-bottom:10px;
    }
    
    .two-center h3{
    color:white;
    text-align:center;
    font-size:15px;
    font-family:arial;
    font-weight:normal;
    }
    
    .two-button{
    background:green;
    padding:13px 18px;
    color:white;
    font-size:10px;
    border:none;
    border-radius:10px;
    outline:none;
    margin-top:15px;
    font-weight:bold;
    cursor:pointer;
    transition:var(--transition);
    }
    
    .two-button:hover{
    background:red;
    
    }


    /* 
    ============================
    THE SECTION OF THE THREE
    ===============================
    */
    .three{
    height:130vh;
    position: relative;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    }

    .three-cover{
    background:#b661008f;
    height:130vh;
    }

    .table{
    display: grid;
    grid-template-columns: 1fr ;
    background:#c26801;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    padding:20px;
    position:absolute;
    top:-80px;
    left:0;
    right:0;
    }

    .table-one{
    background:white;
    padding:10px 20px;
    display:flex;
    align-items:center;
    }

    .table-one img{
    height:60px;
    width:60px;
    border:2px solid green;
    border-radius:150px;
    padding:8px;
    margin-right:10px;
    }

    .table-words h2{
    font-family:monospace;
    font-size:20px;
    color:red;
    }

    .table-words p{
    font-size:15px;
    }


    /* THE SECTION OF THE THREE CENTER */
    .three-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1200px;
    position:absolute;
    top:45%;
    right:0;
    left:0;
    text-align:center;
    }

    .three-center img{
    width:80px;
    height:80px;
    border:1px solid white;
    border-radius: 150px;
    padding:5px;
    }

    .three-center p{
    color:red;
    font-family:cursive;
    margin-bottom:50px;
    font-weight:bold;
    text-shadow:1px 1px white;
    font-size:20px;
    }

    .three-text h1{
    color:white;
    font-size:22px;
    font-family:arial;
    text-shadow:1px 1px red;
    }

    .btn-two{
    background:green;
    color:white;
    padding:13px 20px;
    border:none;
    outline:none;
    cursor:pointer;
    font-weight:bold;
    font-size:13px;
    }


    /* 
    =====================================
    THE SECTION OF THE FOUR
    =====================================
    */  

    .image-container{
        background:#B66200;
        height:30rem;
        width:60%;
        padding:30px;
        }
        
        .image-container img{
        width:200%;
        height:100%;
        object-fit:cover;
        border:1px solid #B66200;
        }
    
        .jobs{
        position:relative;
        padding-bottom:50px;
        padding:20px 0;
        }
    
        .jobs h3{
        font-family:monospace;
        font-size:18px;
        margin-top:30px;
        text-align:center;
        }
    
        .jobs h2{
        font-family:monospace;
        font-size:28px;
        font-weight:normal;
        text-align:center;
        }
    
        .jobs h1{
        font-family:arial;
        font-size:35px;
        color:red;
        text-align:center;
        }
    
        .jobs-center {
        width: 90vw;
        background:#B66200;
        margin:0 auto;
        padding-bottom:20px;
        }
        
      
      .job-btn {
        font-size: 0.6rem;
      }
    
      
      .job-info {
        padding:0 10px 20px 10px;
      }

      .job-desc p{
          font-size:13px;
      }

      
    .loading{
        text-align:center;
        padding:100px 50px;
    }
    
    .loading h1{
        color:green;
        font-family:cursive;
        font-size:25px;
    }
    
    .loading p{
        font-size:15px;
    }
    
     
      
/* 
===================================
  THE SECTION OF THE FIVE
===================================
*/
.five{
    padding:20px;
    text-align:center;
  }
  
  .five-header{
    text-align:center;
    padding:10px 30px 50px 30px;
  }
  
  .five-header h3{
    font-family:monospace;
    font-size:20px;
    font-weight:bold;
    color:red;
  }
  
  .five-header h1{
    font-family:arial;
    font-size:35px;
    font-weight:bold;
    color:green;
  }
  
  .five button{
    padding:12px 25px;
    background:red;
    color:white;
    border:none;
    outline:none;
    margin-top:10px;
    cursor: pointer;
  }
  
}