
/* 
============================
 THE SECTION OF THE THREE
===============================
*/
.three{
    height:110vh;
    position: relative;
  }
  
  .three-cover{
    background:#B66200;
    height:110vh;
  }
  
  .table{
    display: grid;
    grid-template-columns: 1fr ;
    background:#c26801;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    padding:20px;
    position:absolute;
    top:-80px;
    left:0;
    right:0;
  }
  
  .table-one{
    background:white;
    padding:10px 20px;
    display:flex;
    align-items:center;
    margin-top:20px;
  }
  
  .table-one img{
    height:65px;
    width:65px;
    border:2px solid green;
    border-radius:150px;
    padding:8px;
    margin-right:10px;
  }
  
  .table-words h2{
    font-family:monospace;
    font-size:23px;
    color:red;
  }
  
  .table-words p{
    font-size:15px;
  }
  
  
  /* THE SECTION OF THE THREE CENTER */
  .three-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1200px;
    position:absolute;
    top:40%;
    right:0;
    left:0;
    text-align:center;
  }
  
  .three-center img{
    width:80px;
    height:80px;
    border:2px solid white;
    border-radius: 150px;
    padding:5px;
  }
  
  .three-center p{
    color:red;
    font-family:cursive;
    margin-bottom:50px;
    font-weight:bold;
    text-shadow:1px 1px white;
    font-size:20px;
  }
  
  .three-text h1{
    color:white;
    font-size:30px;
    font-family:arial;
    text-shadow:3px 3px #492803;
  }
  
  
  .three-buttons{
    margin-top:15px;
  }
  
  .btn-two{
    background:white;
    color:red;
    padding:13px 20px;
    border:none;
    outline:none;
    cursor:pointer;
    font-weight:bold;
    font-size:13px;
  }
  
  .btn-two:hover{
    background:red;
    color:white
  }
  
  
  
  
  @media screen and (min-width:768px) and (max-width:1023px){
    .table{
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: 1fr;
      background:#c26801;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:20px;
      position:absolute;
      top:-120px;
      left:0;
      right:0;
    }
  
    .table-one{
      margin-top:20px;
    }
  }
  
  
  @media screen and (min-width:1024px) and (max-width:1199px){
  
    .three{
      height:100vh;
    }
    
    .three-cover{
      background:#B66200;
      height:100vh;
    }
  
    .table{
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background:#c26801;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:20px;
      position:absolute;
      top:-80px;
      left:0;
      right:0;
    }
  
    .table-one{
      margin-top:0;
      padding:10px 10px;
    }
  
    .table-one img{
      height:55px;
      width:55px;
      padding:8px;
      margin-right:10px;
    }
    
    .table-words h2{
      font-family:monospace;
      font-size:20px;
      color:red;
    }
    
    .table-words p{
      font-size:13px;
    }
  
    .three-center{
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      position:absolute;
      top:30%;
      right:0;
      left:0;
      text-align:center;
    }
  
    .three-text h1{
      color:white;
      font-size:45px;
      font-family:arial;
      text-shadow:3px 3px #492803;
    }
    
    .three-text h2{
      color:white;
      font-size:35px;
      font-family:arial;
      text-shadow:3px 3px #492803;
    }
  }
  
  
  @media screen and (min-width:1200px){
    .three{
      height:90vh;
      position: relative;
      background-position:center;
      background-size:cover;
      background-attachment: fixed;
    }
    
    .three-cover{
      background:#B66200;
      height:90vh;
    }
    
    .table{
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background:#c26801;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:20px;
      position:absolute;
      top:-60px;
      left:0;
      right:0;
    }
    
    .table-one{
      background:white;
      padding:10px 20px;
      display:flex;
      align-items:center;
    }
    
    .table-one img{
      height:65px;
      width:65px;
      padding:8px;
      margin-right:10px;
    }
    
    .table-words h2{
      font-family:monospace;
      font-size:23px;
      color:red;
    }
    
    .table-words p{
      font-size:15px;
      font-family:arial;
    }
    
    
    /* THE SECTION OF THE THREE CENTER */
    .three-center{
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      position:absolute;
      top:30%;
      right:0;
      left:0;
      text-align:center;
    }
    
    .three-center img{
      width:80px;
      height:80px;
      border:1px solid white;
      border-radius: 150px;
      padding:5px;
    }
    
    .three-center p{
      color:red;
      font-family:cursive;
      margin-bottom:50px;
      font-weight:bold;
      text-shadow:1px 1px white;
      font-size:20px;
    }

    .three-text{
      width:80%;
      margin:0 auto;
    }
    
    .three-text h1{
      color:#fff;
      font-size:45px;
      font-family:Tahoma;
      text-shadow:2px 2px red;
    }
    
    .three-buttons{
      margin-top:15px;
    }
    
    
    .btn-two{
      background:white;
      color:red;
      padding:15px 35px;
      border:none;
      outline:none;
      cursor:pointer;
      font-weight:bold;
      transition:var(--transition)
    }
  }
  


  @media screen and (max-width:320px){
    .three{
      height:130vh;
      }
  
      .three-cover{
      height:130vh;
      }
  
      .table{
      display: grid;
      grid-template-columns: 1fr ;
      background:#c26801;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:20px;
      position:absolute;
      top:-80px;
      left:0;
      right:0;
      }
  
      .table-one{
      padding:10px 20px;
      }
  
      .table-one img{
      height:55px;
      width:55px;
      }
  
      .table-words h2{
      font-size:20px;
      }
  
      .table-words p{
      font-size:15px;
      }
  
  
      /* THE SECTION OF THE THREE CENTER */
      .three-center{
      width: 90vw;
      top:45%;
      }
  
      .three-center img{
      width:70px;
      height:70px;
      }
  
      .three-center p{
      font-size:20px;
      }
  
      .three-text h1{
      font-size:18px;
      }
  
      .btn-two{
      padding:13px 18px;
      font-size:13px;
      }
  }


  @media screen and (max-width:375px) and (min-width:321px){
    .three{
      height:120vh;
      }
  
      .three-cover{
      height:120vh;
      }
  
      .table{
      display: grid;
      grid-template-columns: 1fr ;
      background:#c26801;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:20px;
      position:absolute;
      top:-80px;
      left:0;
      right:0;
      }
  
      .table-one{
      padding:10px 20px;
      }
  
      .table-one img{
      height:60px;
      width:60px;
      margin-right:20px;
      }
  
      .table-words h2{
      font-size:20px;
      }
  
      .table-words p{
      font-size:15px;
      }
  
  
      /* THE SECTION OF THE THREE CENTER */
      .three-center{
      width: 90vw;
      top:45%;
      }
  
      .three-center img{
      width:80px;
      height:80px;
      }
  
      .three-center p{
      font-size:20px;
      }
  
      .three-text h1{
      font-size:20px;
      }
  
      .btn-two{
      padding:13px 20px;
      font-size:13px;
      }

  }


  @media screen and (max-width:425px) and (min-width:376px){
    .three{
      height:130vh;
      }
  
      .three-cover{
      height:130vh;
      }
  
      .table{
      display: grid;
      grid-template-columns: 1fr ;
      background:#c26801;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      padding:20px;
      position:absolute;
      top:-80px;
      left:0;
      right:0;
      }
  
      .table-one{
      padding:10px 20px;
      }
  
      .table-one img{
      height:60px;
      width:60px;
      margin-right:20px;
      }
  
      .table-words h2{
      font-size:20px;
      }
  
      .table-words p{
      font-size:15px;
      }
  
  
      /* THE SECTION OF THE THREE CENTER */
      .three-center{
      width: 90vw;
      top:45%;
      }
  
      .three-center img{
      width:80px;
      height:80px;
      }
  
      .three-center p{
      font-size:20px;
      }
  
      .three-text h1{
      font-size:22px;
      }
  
      .btn-two{
      padding:13px 20px;
      font-size:13px;
      }
  
  }